<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Barn ABC Amazing Dashboard</title>

  <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='fonts/all.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">1</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">50 minutes ago</div>
                      <div class="font-weight-bold">
                        Dangerous level of ammonia: 50ppm.
                      </div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">2 hours ago</div>
                    Warning level of CO2: 3000ppm.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">1</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-chart-bar text-white"></i>
                    </div>
                  </div>
                  <div class="font-weight-bold">
                    Summary of November 6, 2019 is here. Click to see.
                    <div class="small text-gray-500">System · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-chart-line text-white"></i>
                    </div>
                  </div>
                  <div>
                    Summary of October is here. Click to see.
                    <div class="small text-gray-500">System · 7d</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Jan Heitmann Barn</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/CP9GGy_LkIY/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">July 2, 2019</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ventilation</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">60%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-window-maximize fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Today's weather (Hi/Lo)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">28&#176;C<small>/15&#176;C</small></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sun fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Yesterday Summary</div>
                      <div class="text-s mb-0 text-gray-800">Ammonia level is alarming</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-12 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Suggestion</div>
                      <div class="text-s mb-0 text-gray-800">Open ventilation to <b>70%</b></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% macro charting(chart_id, div_id, card_title) -%}
            <div id="card{{ div_id }}" class="card shadow mb-4">
              <a href="#collapse{{ div_id }}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse{{ div_id }}">
                <h6 id="cardTitle{{ div_id }}" class="m-0 font-weight-bold text-primary">{{ card_title }}</h6>
              </a>
              <div class="collapse" id="collapse{{ div_id }}">
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="{{ chart_id }}"></canvas>
                  </div>
                </div>
              </div>
            </div>
          {%- endmacro %}

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-6 col-lg-6">
              {{ charting('canvas-nh3', 'Ammonia', 'Ammonia') }}
            </div>

            <div class="col-xl-6 col-lg-6">
              {{ charting('canvas-co2', 'Co2', 'Carbon Dioxyde') }}
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-6 col-lg-6">
              {{ charting('canvas-temperature', 'Temperature', 'Temperature') }}
            </div>

            <div class="col-xl-6 col-lg-6">
              {{ charting('canvas-humidity', 'Humidity', 'Humidity') }}
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>&copy;2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.usebootstrap.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/page.js') }}"></script>

  <!-- Page level plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!--  <script src="{{ url_for('static', filename='js/script.js') }}"></script>-->
  <script>
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';
$(document).ready(function () {
  var chartOptions = function(sMin, sMax, showLegend) {
      return {
          responsive: true,
          animation: false,
          showTooltips: true,
          maintainAspectRatio: false,
          layout: {
            padding: {
              left: 10,
              right: 25,
              top: 25,
              bottom: 0
            }
          },
          legend: {
              display: showLegend,
              position: 'bottom'
          },
          tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              titleMarginBottom: 10,
              titleFontColor: '#6e707e',
              titleFontSize: 14,
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              intersect: false,
              mode: 'index',
              caretPadding: 10
          },
          scales: {
              xAxes: [{
                  display: true,
                  type: 'time',
                  time: {
                      round: 'minute',
                      distribution: 'linear'
                  },
                  gridLines: {
                    display: false,
                    drawBorder: false
                  }
              }],
              yAxes: [{
                  display: true,
                  ticks: {
                      maxTicksLimit: 5,
                      padding: 10,
                      suggestedMin: sMin,
                      suggestedMax: sMax
                  },
                  gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                  }
              }]
          }
      };
  }

  //Ammonia
  const configNh3 = {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: "Ammonia",
              lineTension: 0.3,
              backgroundColor: "rgba(78, 115, 223, 0.05)",
              borderColor: "rgba(78, 115, 223, 1)",
              pointRadius: 3,
              pointBackgroundColor: "rgba(78, 115, 223, 1)",
              pointBorderColor: "rgba(78, 115, 223, 1)",
              pointHoverRadius: 3,
              pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
              pointHoverBorderColor: "rgba(78, 115, 223, 1)",
              pointHitRadius: 10,
              pointBorderWidth: 2,
              data: []
          }],
      },
      options: chartOptions(0, 50, false)
  };
  const contextNh3 = document.getElementById('canvas-nh3').getContext('2d');
  const lineChartNh3 = new Chart(contextNh3, configNh3);

  //CO2
  const configCo2 = {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: "Carbon Dioxyde",
              lineTension: 0.3,
              backgroundColor: "rgba(54, 185, 204, 0.05)",
              borderColor: "rgba(54, 185, 204, 1)",
              pointRadius: 3,
              pointBackgroundColor: "rgba(54, 185, 204, 1)",
              pointBorderColor: "rgba(54, 185, 204, 1)",
              pointHoverRadius: 3,
              pointHoverBackgroundColor: "rgba(54, 185, 204, 1)",
              pointHoverBorderColor: "rgba(54, 185, 204, 1)",
              pointHitRadius: 10,
              pointBorderWidth: 2,
              data: []
          }],
      },
      options: chartOptions(1000, 3000, false)
  };
  const contextCo2 = document.getElementById('canvas-co2').getContext('2d');
  const lineChartCo2 = new Chart(contextCo2, configCo2);

  //Temperature
  const configTemperature = {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: "Inside",
              lineTension: 0.3,
              backgroundColor: "rgba(43, 179, 216, 1)",
              borderColor: "rgba(43, 179, 216, 0.5)",
              pointRadius: 3,
              pointBackgroundColor: "rgba(43, 179, 216, 1)",
              pointBorderColor: "rgba(43, 179, 216, 1)",
              pointHoverRadius: 3,
              pointHoverBackgroundColor: "rgba(43, 179, 216, 1)",
              pointHoverBorderColor: "rgba(43, 179, 216, 1)",
              pointHitRadius: 10,
              pointBorderWidth: 2,
              data: [],
              fill: false
          },{
              label: "Outside",
              backgroundColor: "rgba(93, 115, 126, 0.05)",
              borderColor: "rgba(93, 115, 126, 0.5)",
              pointRadius: 3,
              pointBackgroundColor: "rgba(93, 115, 126, 0.5)",
              pointBorderColor: "rgba(93, 115, 126, 0.5)",
              pointHoverRadius: 3,
              pointHoverBackgroundColor: "rgba(93, 115, 126, 0.5)",
              pointHoverBorderColor: "rgba(93, 115, 126, 0.5)",
              pointHitRadius: 10,
              pointBorderWidth: 2,
              data: [],
              fill: false
          }],
      },
      options: chartOptions(0, 40, true)
  };
  const contextTemperature = document.getElementById('canvas-temperature').getContext('2d');
  const lineChartTemperature = new Chart(contextTemperature, configTemperature);

  //Humidity
  const configHumidity = {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: "Inside",
              backgroundColor: "rgba(62, 130, 247, 1)",
              borderColor: "rgba(62, 130, 247, 0.5)",
              pointRadius: 3,
              pointBackgroundColor: "rgba(62, 130, 247, 1)",
              pointBorderColor: "rgba(62, 130, 247, 1)",
              pointHoverRadius: 3,
              pointHoverBackgroundColor: "rgba(62, 130, 247, 1)",
              pointHoverBorderColor: "rgba(62, 130, 247, 1)",
              pointHitRadius: 10,
              pointBorderWidth: 2,
              data: [],
              fill: false
          },{
              label: "Outside",
              backgroundColor: "rgba(93, 115, 126, 0.05)",
              borderColor: "rgba(93, 115, 126, 0.5)",
              pointRadius: 3,
              pointBackgroundColor: "rgba(93, 115, 126, 1)",
              pointBorderColor: "rgba(93, 115, 126, 0.5)",
              pointHoverRadius: 3,
              pointHoverBackgroundColor: "rgba(93, 115, 126, 0.5)",
              pointHoverBorderColor: "rgba(93, 115, 126, 0.5)",
              pointHitRadius: 10,
              pointBorderWidth: 2,
              data: [],
              fill: false
          }],
      },
      options: chartOptions(40, 100, true)
  };
  const contextHumidity = document.getElementById('canvas-humidity').getContext('2d');
  const lineChartHumidity = new Chart(contextHumidity, configHumidity);

  //Handle sensor data
  const source = new EventSource("/chart-data");

  source.onmessage = function (event) {
      const data = JSON.parse(event.data);

      //Ammonia
      if (configNh3.data.labels.length === 20) {
          configNh3.data.labels.shift();
          configNh3.data.datasets[0].data.shift();
      }
      configNh3.data.labels.push(new Date(data.time));
      configNh3.data.datasets[0].data.push(data.sensor_data.nh3);
      switch(data.status.nh3) {
          case -1:
          case 0:
              if ($("#cardAmmonia").hasClass("border-all-warning")) {
                $("#cardAmmonia").removeClass("border-all-warning");
              }
              if ($("#cardAmmonia").hasClass("border-all-danger")) {
                $("#cardAmmonia").removeClass("border-all-danger");
              }
              if (!$("#cardTitleAmmonia").hasClass("text-primary")) {
                $("#cardAmmonia").addClass("text-primary");
              }
              if ($("#cardTitleAmmonia").hasClass("text-warning")) {
                $("#cardTitleAmmonia").removeClass("text-warning");
              }
              if ($("#cardTitleAmmonia").hasClass("text-danger")) {
                $("#cardAmmonia").removeClass("text-danger");
              }
              break;
          case 1:
              if (!$("#cardAmmonia").hasClass("border-all-warning")) {
                $("#cardAmmonia").addClass("border-all-warning");
              }
              if ($("#cardAmmonia").hasClass("border-all-danger")) {
                $("#cardAmmonia").removeClass("border-all-danger");
              }
              if (!$("#cardTitleAmmonia").hasClass("text-warning")) {
                $("#cardTitleAmmonia").addClass("text-warning");
              }
              if ($("#cardTitleAmmonia").hasClass("text-primary")) {
                $("#cardTitleAmmonia").removeClass("text-primary");
              }
              if ($("#cardTitleAmmonia").hasClass("text-danger")) {
                $("#cardTitleAmmonia").removeClass("text-danger");
              }
              break;
          case 2:
              if ($("#cardAmmonia").hasClass("border-all-warning")) {
                $("#cardAmmonia").removeClass("border-all-warning");
              }
              if (!$("#cardAmmonia").hasClass("border-all-danger")) {
                $("#cardAmmonia").addClass("border-all-danger");
              }
              if (!$("#cardTitleAmmonia").hasClass("text-danger")) {
                $("#cardTitleAmmonia").addClass("text-danger");
              }
              if ($("#cardTitleAmmonia").hasClass("text-primary")) {
                $("#cardTitleAmmonia").removeClass("text-primary");
              }
              if ($("#cardTitleAmmonia").hasClass("text-warning")) {
                $("#cardTitleAmmonia").removeClass("text-warning");
              }
              break;
      }

      //Carbon Dioxyde
      if (configCo2.data.labels.length === 20) {
          configCo2.data.labels.shift();
          configCo2.data.datasets[0].data.shift();
      }
      configCo2.data.labels.push(new Date(data.time));
      configCo2.data.datasets[0].data.push(data.sensor_data.co2);
      switch(data.status.co2) {
          case -1:
          case 0:
              if ($("#cardCo2").hasClass("border-all-warning")) {
                $("#cardCo2").removeClass("border-all-warning");
              }
              if ($("#cardCo2").hasClass("border-all-danger")) {
                $("#cardCo2").removeClass("border-all-danger");
              }
              if (!$("#cardTitleCo2").hasClass("text-primary")) {
                $("#cardCo2").addClass("text-primary");
              }
              if ($("#cardTitleCo2").hasClass("text-warning")) {
                $("#cardTitleCo2").removeClass("text-warning");
              }
              if ($("#cardTitleCo2").hasClass("text-danger")) {
                $("#cardTitleCo2").removeClass("text-danger");
              }
              break;
          case 1:
              if (!$("#cardCo2").hasClass("border-all-warning")) {
                $("#cardCo2").addClass("border-all-warning");
              }
              if ($("#cardCo2").hasClass("border-all-danger")) {
                $("#cardCo2").removeClass("border-all-danger");
              }
              if (!$("#cardTitleCo2").hasClass("text-warning")) {
                $("#cardTitleCo2").addClass("text-warning");
              }
              if ($("#cardTitleCo2").hasClass("text-primary")) {
                $("#cardTitleCo2").removeClass("text-primary");
              }
              if ($("#cardTitleCo2").hasClass("text-danger")) {
                $("#cardTitleCo2").removeClass("text-danger");
              }
              break;
          case 2:
              if ($("#cardCo2").hasClass("border-all-warning")) {
                $("#cardCo2").removeClass("border-all-warning");
              }
              if (!$("#cardCo2").hasClass("border-all-danger")) {
                $("#cardCo2").addClass("border-all-danger");
              }
              if (!$("#cardTitleCo2").hasClass("text-danger")) {
                $("#cardTitleCo2").addClass("text-danger");
              }
              if ($("#cardTitleCo2").hasClass("text-primary")) {
                $("#cardTitleCo2").removeClass("text-primary");
              }
              if ($("#cardTitleCo2").hasClass("text-warning")) {
                $("#cardTitleCo2").removeClass("text-warning");
              }
              break;
      }

      //Temperature
      if (configTemperature.data.labels.length === 20) {
          configTemperature.data.labels.shift();
          configTemperature.data.datasets[0].data.shift();
          configTemperature.data.datasets[1].data.shift();
      }
      configTemperature.data.labels.push(new Date(data.time));
      configTemperature.data.datasets[0].data.push(data.sensor_data.in_temp);
      configTemperature.data.datasets[1].data.push(data.sensor_data.out_temp);
      switch(data.status.in_temp) {
          case -1:
          case 0:
              if ($("#cardTemperature").hasClass("border-all-warning")) {
                $("#cardTemperature").removeClass("border-all-warning");
              }
              if ($("#cardTemperature").hasClass("border-all-danger")) {
                $("#cardTemperature").removeClass("border-all-danger");
              }
              if (!$("#cardTitleTemperature").hasClass("text-primary")) {
                $("#cardTemperature").addClass("text-primary");
              }
              if ($("#cardTitleTemperature").hasClass("text-warning")) {
                $("#cardTitleTemperature").removeClass("text-warning");
              }
              if ($("#cardTitleTemperature").hasClass("text-danger")) {
                $("#cardTemperature").removeClass("text-danger");
              }
              break;
          case 1:
              if (!$("#cardTemperature").hasClass("border-all-warning")) {
                $("#cardTemperature").addClass("border-all-warning");
              }
              if ($("#cardTemperature").hasClass("border-all-danger")) {
                $("#cardTemperature").removeClass("border-all-danger");
              }
              if (!$("#cardTitleTemperature").hasClass("text-warning")) {
                $("#cardTitleTemperature").addClass("text-warning");
              }
              if ($("#cardTitleTemperature").hasClass("text-primary")) {
                $("#cardTitleTemperature").removeClass("text-primary");
              }
              if ($("#cardTitleTemperature").hasClass("text-danger")) {
                $("#cardTitleTemperature").removeClass("text-danger");
              }
              break;
          case 2:
              if ($("#cardTemperature").hasClass("border-all-warning")) {
                $("#cardTemperature").removeClass("border-all-warning");
              }
              if (!$("#cardTemperature").hasClass("border-all-danger")) {
                $("#cardTemperature").addClass("border-all-danger");
              }
              if (!$("#cardTitleTemperature").hasClass("text-danger")) {
                $("#cardTitleTemperature").addClass("text-danger");
              }
              if ($("#cardTitleTemperature").hasClass("text-primary")) {
                $("#cardTitleTemperature").removeClass("text-primary");
              }
              if ($("#cardTitleTemperature").hasClass("text-warning")) {
                $("#cardTitleTemperature").removeClass("text-warning");
              }
              break;
      }

      //Humidity
      if (configHumidity.data.labels.length === 20) {
          configHumidity.data.labels.shift();
          configHumidity.data.datasets[0].data.shift();
          configHumidity.data.datasets[1].data.shift();
      }
      configHumidity.data.labels.push(new Date(data.time));
      configHumidity.data.datasets[0].data.push(data.sensor_data.in_humidity);
      configHumidity.data.datasets[1].data.push(data.sensor_data.out_humidity);

      //update all charts
      lineChartNh3.update();
      lineChartCo2.update();
      lineChartTemperature.update();
      lineChartHumidity.update();
  }

});
  </script>
</body>

</html>
